

*{
    margin: 0;
    padding: 0;
}
.navbar-brand{
    padding-left: 2%;
    padding-top: 1rem;
}
.keralaimg{
    border-radius: 4px;
}
.nav-item{
    padding-left: 1rem;
    
    padding-right: 1rem;
}


#home {

    background-color: rgb(194, 221, 245);
    padding-bottom: 15%;
}

   

.bird{
    width: 30PX;
    position: absolute;
    left: 85%;
    top: 50%;
    transform: rotate(30deg); 
    transition: top 2s;
    transition-timing-function: ease-out;   
  
}

.bird:hover{      
    top: 30%;        

  }
    

form{
    margin: 5% 38% 1% 6%;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5%;
    background-color:rgba(181, 206, 229, 0.51);
    box-shadow: 1px 1px 4px rgb(141, 148, 148);
    
    
}
.form-group{
    margin-bottom: .5rem;
}
h4{
    padding-bottom: 1rem;
}

.signin{
    margin-top: 1.5rem;
    
}
#err{
    visibility: hidden;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    border: 1px solid rgba(156, 128, 128, 0.734);
    border-radius: 7px;
    padding: 1rem;
    background-color:rgba(249, 0, 0, 0.07);
    box-shadow: 1px 1px 4px rgb(104, 111, 111);

}

.strength{
    background-color: rgb(211, 221, 231);
    margin: 0 0 5px 0;
    
    border-radius: 4px;
        
    
}
#ps{

    margin: 0;
}

#l{
    background-color: rgba(255, 55, 0, 0.767);
    padding:0 16.666%;
    visibility:hidden;
    
    
}
#m{
    background-color: rgba(255, 191, 0, 0.858);
    padding:0 16.666%;
    visibility: hidden;

}

#g{
    background-color: rgba(21, 255, 0, 0.705);
    padding:0 16.666%;
    visibility: hidden;

}




    


